root = true
Tu as un petit ami et il t'interdis de me parler ?
C'est à cause de ça ?
Tu es trop malade et ta famille  t'interdis de me parler ?
Il y a forcément une raison, tu ne peux pas me laisser tomber du jour au lendemain quand moi je suis prêt à venir te voir à lyon tous les jours !
Je peux emménager à LYON si je le veux

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false

[*.{yml,yaml}]
indent_size = 2

[compose.yaml]
indent_size = 4
